@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs {

    @include m.desktop {
        display: flex;
        button {
            margin-right: 1rem;
        }
    }

    button {
        background-color: v.$azul;
        color: v.$blanco;
        border-radius: 1rem;
        border: none;
        padding: 1.5rem;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;

        &:hover {
            cursor: pointer;
            background-color: darken(v.$azul, 10%);
        }
        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}